.basketPage {
    width: 100vw;
    padding: 0 12%;
    position: relative;

}

.basketContentWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: calc(100vh - 550px);
}

.basketContentWrapper > div {
    margin-bottom: 50px;
}

.basketProduct {
    background: lightblue;
    display: flex;
    position: relative;
}

.basketImageWrapper {
    width: 300px;
    padding: 30px;
}

.basketImageWrapper > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.basketMeta {
    flex: 1;
    padding: 40px 30px 40px 0;
}

.basketProduct h1 {
    margin-bottom: 20px;
}

.basketSummary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.checkoutButton {
    cursor: pointer;
    margin-top: 30px;
    font-size: 24px;
    padding: 10px 20px;
    transition: background-color 500ms;
}

.checkoutButton:hover {
    background: #4ecffd;
    transition: background-color 500ms;
}

.editQtyInBasket {
    display: flex;
}

.editQtyInBasket > button {
    padding: 30px;
}

.removeAllFromBasket {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 30px;
    right: 30px
}

.noBasketMessage {

    font-size: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noBasketMessage img {
    width: 100%;
    max-width: 500px;
}

.noBasketMessage p {
    margin-top: 100px
}