.productPageContainer {
    display: flex;
    width: 100%;
}

.productPageContainer > div {
    flex: 1;
}

.productImageWrapper {
    position: relative;
}

.productImageWrapper > img {
    width: 100%;
    height: 100%;
}

.productDescriptionWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.productPrice {
    margin-top: 30px;
}

.discountPrice {
    color: red;
    text-decoration: line-through;
}