.product-page-container {
  display: flex;
  width: 100%;
  max-height: 500px;
  margin-top: 100px;
}

.product-page-container > div {
  flex: 1;
}

.product-image-wrapper {
  position: relative;
}

.product-image-wrapper > img {
  width: 100%;
  height: 100%;
}

.individual-product-name {
  font-family: "Koulen";
  font-size: 55px;
  color: #1f2131;
  line-height: 1;
}

.individual-product-categories {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding-bottom: 20px;
  padding-top: 30px;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
}

.individual-product-description {
  font-size: 18px;
  border-bottom: 0.2px solid rgb(0 0 0 / 33%);
  border-top: 0.2px solid rgb(0 0 0 / 33%);
  padding-top: 20px;
  padding-bottom: 20px;
}

.individual-product-price {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 25px;
}

.individual-product-button {
  width: 218px;
  height: 64px;
  font-size: 19px;
}

.product-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  justify-content: flex-start;
}

.similar-product-header {
  font-family: "Koulen";
  margin-top: 65px;
  font-size: 35px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1050px) {
  .product-page-container {
    margin-top: 170px;
  }
}

@media only screen and (max-width: 800px) {
  .product-page-container {
    flex-direction: column;
    max-height: inherit;
  }

  .product-image-wrapper {
    text-align: center;
  }

  .product-image-wrapper > img {
    padding: 0;
    width: 80%;
    height: 80%;
  }

  .product-description-wrapper {
    align-items: center;
  }

  .individual-product-categories {
    text-align: center;
  }
}
