.carouselWrapper {
  margin-top: 100px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 1050px) {
  .carouselWrapper {
    margin-top: 170px;
  }
}

.carouselWrapper img {
  width: 100%;
}
