.navbarWrapper {
    width: 100vw;
    height: 150px;
    display: flex;
    padding: 0 12%;
    align-items: center;

}

.navbarLogo {
    width: 100px;
    height: 100px;
    position: relative;
}

.navbarLogo > img {
    width: 100%;
    height: 100%;
}

.navbarMenuWrapper {
    padding-left: 50px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.navbarLink {
    margin: 0 5px;
    padding-right: 30px;
    color: black;
    font-size: 24px;
    position: relative;
}

.basketCount {
    position: absolute;
    top: -15px;
    right: 0;
    background: lightblue;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 50%;
}


@media only screen and (max-width: 1000px) {
    .navbarMenuWrapper {
        margin-top: 30px;
    }

    .navbarWrapper {
        flex-direction: column;
        height: inherit;
        margin-top: 30px;
    }

    .navbarWrapper > div {
        margin: 30px 0;
    }
}

