
.companyBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.companyBanner > h1 {
    font-size: 100px;
}

.companyBanner > p {
    font-size: 36px;
}

.homeDiscountHeading {
    margin-top: 50px;
    font-size: 72px;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .companyBanner > h1 {
        font-size: 60px;
    }

}