.userInfo {
    display: flex;
}

.usernameDisplay {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.logoutButton {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 500ms;
}

.logoutButton:hover {
    background: red;
    transition: background-color 500ms;
}

@media only screen and (max-width: 600px) {
    .usernameDisplay p {
        font-size: 12px;
    }

    .logoutButton {
        font-size: 16px;
    }
}