/*Font-related*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*////////////////login-and-logo-section Navigation, logo, login////////////////////*/
.welcome-message {
  margin-right: 0%;
}

.login {
  display: flex;
}

.user-input {
  padding: 0.4rem 0rem;
  font-size: 1.2rem;
  text-align: center;
  width: 8rem;
  border-radius: 8rem;
  margin-right: 0.4rem;
  background-color: #ffffff42;
  border: 1px solid rgb(129, 75, 75);
}

.user-input:focus {
  outline: none;
  border: 1px solid #ccc;
}

/*Placeholder*/
.user-input::placeholder {
  color: rgb(173, 111, 111);
}
.user-input:hover::placeholder {
  color: rgba(173, 111, 111, 0.274);
}
.user-input:focus::placeholder {
  color: transparent;
}

/*arrow*/
.login-button {
  border: none;
  background: none;
  font-size: 2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.welcome-message {
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 15px;
}

.coffeenator-logo {
  height: 5.1rem;
}

.login-and-logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #805f5f42;
}

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*////////////////////////////Hr in navigation///////////////////////*/
#menuLine {
  padding: 0;
  margin: 0;
  size: 3px;
  height: 3px;
  background-color: #805f5f5b;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.377),
    rgba(0, 0, 0, 0)
  );
}
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*////////////////////////////Background picture/////////////////////*/
#background-image {
  padding: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  background-attachment: fixed;
  background-position: center center;
  background-image: linear-gradient(to bottom, #D09259, #562A0E);
  min-height: 70vh;
}
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/* main navigation under topmost */
nav ul {
  text-align: center;
  background-color: #805f5f5b;
}
.navigation-section ul {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.navigation-section ul ul {
  position: absolute;
  width: 180px;
  text-transform: none;
}
.navigation-section li {
  display: inline-block;
  position: relative;
  margin: 0 8px 0 0;
  padding: 0;
}
.navigation-section li li {
  width: 100%;
  margin: 0;
}
.navigation-section li a {
  display: block;
  padding: 3px 0;
}
.navigation-section .drop {
  padding-left: 5px;
}
.navigation-section li li a,
.navigation-section li li .drop {
  display: block;
  margin: 0;
  padding: 12px 9px;
}
/*Hide it, but drop when I hover over it*/
.navigation-section ul ul {
  visibility: hidden;
  opacity: 0;
}
.navigation-section ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}
.navigation-section li a {
  color: inherit;
}
.navigation-section .active a,
.navigation-section a:hover,
.navigation-section li:hover > a {
  color: #ece4dc;
  background-color: inherit;
}
.navigation-section li li a,
.navigation-section .active li a {
  color: #ffd240;
  background-color: rgb(0, 0, 0);
  border-color: rgba(206, 166, 166, 0.6);
  border-radius: 15%;
}
.navigation-section li li:hover > a {
  color: inherit;
  background-color: #dc8e47;
}

/*Basket icon*/
.cart-icon-wrapper {
  position: relative;
  cursor: pointer;
}
.shopping-cart-icon {
  font-size: 2rem;
}

/*Basket number span*/
.items-in-cart-number {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: #cc7511;
  padding: 0 3px;
  border-radius: 35%;
  color: white;
  display: block;
}

/*Product categories*/
.filter-button {
  font-family: "Montserrat";
  border: 0.2px solid black;
  background-color: #cc7511;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  line-height: normal;
}

.filter-button:hover {
  background-color: #875215;
  color: #f3b977;
}

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*////////////////////////////Title and Subtitle/////////////////////*/
.website-title {
  font-size: 93px;
  font-style: oblique;
}
.website-subtitle {
  font-size: 35px;
  font-style: oblique;
}
#dishTitle {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  color: #cc7511;
}
@keyframes fadeIn {
  4% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*////////////////////////////Carousel///////////////////////////////*/
.carousel-inner img {
  width: inherit;
  height: inherit;
}
#coffeenator-slider {
  width: 55%;
  display: block;
  margin: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 33px 33px 33px 33px;
  overflow: hidden; /*hide the extra corners*/
}

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*/////////////////////////////Product Page//////////////////////////*/
.products-wrapper {
  background-color: rgba(137, 43, 226, 0);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 85px;
  margin-left: 85px;
  margin-top: 35px;
}
/* Product inner part */
.product {
  background-color: rgba(222, 195, 157, 0.858);
  border-radius: 0.5rem;
  text-align: center;
  width: 360px;
  height: 480px;
  border: 3px ridge rgb(208, 146, 89);
  margin: 20px;
}

.product_image {
  height: 280px;
  width: 220px;
  display: block;
  margin: auto;
}

.product .product_price,
.product_name,
.toBasket {
  text-align: center;
}

.product .product_name {
  padding-top: 12px;
}

.product .product_weight {
  font-size: 0.8rem;
}

.add-to-basket {
  display: contents;
}
.add-to-basket img {
  width: 175px;
}
.add-to-basket img:hover {
  width: 193px;
}

.product .product_price {
  color: rgb(255, 255, 255);
}
.product > .product_name {
  font-size: 20px;
  font-family: "Montserrat";
}

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*////////////////////////////////Footer/////////////////////////////*/
.footer-section {
  background-color: #24252b;
  /*top right bottom left*/
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 1.6;
  color: #c4c4c494;
}

.footer-section hr {
  border-top-color: #f7d4b394;
  opacity: 0.8;
}

.footer-section h6 {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 6px;
  letter-spacing: 2.6px;
}

.footer-section a {
  color: #ee9e43;
}

.footer-section a:hover {
  color: #fffffff8;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #f7d4b394;
}

.footer-section .social-icons {
  text-align: right;
}

.footer-section .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #f7d4b3a9;
}

.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
}

.social-icons a:hover {
  color: #fff;
}

.social-icons a.facebook:hover {
  background-color: #165aec;
}

.social-icons a.twitter:hover {
  background-color: #4ecffd;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.instagram:hover {
  background-color: #ea4c89;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&PRODUCT DETAILS HERE&&&&&&&&&&&&&&&&*/

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&PRODUCT CART HERE&&&&&&&&&&&&&&&&*/
.cartProducts-grid-container {
  font-family: Montserrat;
  display: grid;
  padding: 15px 100px 15px 100px;
}

.cart-products-wrapper > div {
  height: 230px;
}
.cart-products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  text-align: center;
}

.cart-products-wrapper > .child-1 > img {
  vertical-align: middle;
  width: 130px;
  height: 180px;
}

.cart-products-wrapper > .child-1 {
  vertical-align: middle;
  border-radius: 35px 0 0 35px;
  background-color: rgba(162, 145, 46, 0.809);
}

.cart-products-wrapper > .child-2 {
  background-color: rgba(193, 171, 43, 0.809);
  border-radius: 0 35px 35px 0;
}

.cart-products-wrapper > .child-2 > div {
  padding-top: 34px;
}

.cart-products-wrapper > .child-2 > div > h1 {
  font-size: large;
  display: block;
}
.cart-products-wrapper > .child-2 > div > h3,
.cart-products-wrapper > .child-2 > div > h4 {
  font-size: medium;
}

.cart-total-wrapper {
  background-color: #9dbb31e9;
  border-radius: 35px;
  margin-top: 10px;
}
