/*Font-related*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}


/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*////////////////////////////Background picture/////////////////////*/
#background-image {
  padding: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  background-attachment: fixed;
  background-position: center center;
  background-image: linear-gradient(to bottom, #D09259, #562A0E);
  min-height: 70vh;
}




