/*/////////////////////////////Product Page//////////////////////////*/

.products-wrapper {
  background-color: rgba(137, 43, 226, 0);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 85px;
  margin-left: 85px;
  margin-top: 35px;
}

/* Product inner part */
.product {
  background-color: rgba(222, 195, 157, 0.858);
  border-radius: 0.5rem;
  text-align: center;
  width: 360px;
  height: 480px;
  border: 3px ridge rgb(208, 146, 89);
  margin: 20px;
}

.product_image {
  height: 280px;
  width: 220px;
  display: block;
  margin: auto;
}

.product .product_price,
.product_name,
.toBasket {
  text-align: center;
}

.product .product_name {
  padding-top: 12px;
}

.product .product_weight {
  font-size: 0.8rem;
}

.add-to-basket, .individual_add_to_basket {
  display: contents;
}

.add-to-basket img, .individual_add_to_basket  img {
  width: 175px;
}

.add-to-basket img:hover, .individual_add_to_basket img:hover {
  width: 193px;
}

.product .product_price {
  color: rgb(255, 255, 255);
}

.product > .product_name {
  font-size: 20px;
  font-family: "Montserrat";
}

/*/////////////////////////////Product in Cart//////////////////////////*/

.cartProducts-grid-container {
  font-family: Montserrat;
  display: grid;
  padding: 15px 100px 15px 100px;
  min-height: 70vh;
}

.cart-products-wrapper > div {
  height: 230px;
}

.cart-products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  text-align: center;
}

.cart-products-wrapper > .child-1 > img {
  vertical-align: middle;
  width: 130px;
  height: 180px;
}

.cart-products-wrapper > .child-1 {
  vertical-align: middle;
  border-radius: 35px 0 0 35px;
  background-color: rgba(162, 145, 46, 0.809);
}

.cart-products-wrapper > .child-2 {
  background-color: rgba(193, 171, 43, 0.809);
  border-radius: 0 35px 35px 0;
}

.cart-products-wrapper > .child-2 > div {
  padding-top: 34px;
}

.cart-products-wrapper > .child-2 > div > h1 {
  font-size: large;
  display: block;
}

.cart-products-wrapper > .child-2 > div > h3,
.cart-products-wrapper > .child-2 > div > h4 {
  font-size: medium;
}

.cart-total-wrapper {
  background-color: #9dbb31e9;
  border-radius: 35px;
  margin-top: 10px;
}
