/*/////////////////////////////Product Page//////////////////////////*/

.products-wrapper {
  background-color: rgba(137, 43, 226, 0);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 85px;
  margin-left: 85px;
  margin-top: 35px;
}

/* Product inner part */
.product {
  background-color: rgba(128, 95, 95, 0.481);
  border-radius: 0.5rem;
  text-align: center;
  width: 360px;
  height: 480px;
  border: 2px ridge rgb(204, 117, 17);
  margin: 20px;
  position: relative;
}

.product_image {
  height: 280px;
  width: 220px;
  display: block;
  margin: auto;
}

.product .product_price,
.product_name,
.toBasket {
  text-align: center;
}

.product .product_name {
  padding-top: 12px;
}

.product .product_weight {
  font-size: 0.8rem;
}

.btn.btn-outline-light {
  color: #24252b;
  border-color: transparent;
}

.add-to-basket, .individual_add_to_basket {
  margin-top: 5px;
  padding: 0px;
  border: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #cc7511;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 30px;
  color: #fff;
}

.add-to-basket:hover, .individual_add_to_basket:hover {
  font-family: "Montserrat";
  background-color: #875215;
  color: #e4ceaf;
}



.add-to-basket img, .individual_add_to_basket  img {
  width: 175px;
}

.add-to-basket img:hover, .individual_add_to_basket img:hover {
  width: 193px;
}

.product .product_price {
  color: rgb(255, 255, 255);
}

.product > .product_name {
  font-size: 20px;
  font-family: "Montserrat";
}

/*/////////////////////////////Product in Cart//////////////////////////*/

.cartProducts-grid-container {
  font-family: Montserrat;
  display: grid;
  padding: 15px 100px 15px 100px;
  min-height: 70vh;
}

@media screen and (max-width: 992px) {
  .cartProducts-grid-container{
    padding: 0;
    margin: 20px 0;
  }
}

.cart-products-wrapper > div {
  height: 230px;
}

.cart-products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  text-align: center;
}

.cart-products-wrapper > .child-1 > img {
  vertical-align: middle;
  width: 130px;
  height: 180px;
}

.cart-products-wrapper > .child-1 {
  vertical-align: middle;
  border-radius: 35px 0 0 35px;
  background-color: rgba(128, 95, 95, 0.481);
}

.cart-products-wrapper > .child-2 {
  background-color:rgba(228, 206, 175, 0.809);
  border-radius: 0 35px 35px 0;
}

.cart-products-wrapper > .child-2 > div {
  padding-top: 34px;
}

.cart-products-wrapper > .child-2 > div > h1 {
  font-size: large;
  display: block;
}

.cart-products-wrapper > .child-2 > div > h3,
.cart-products-wrapper > .child-2 > div > h4 {
  font-size: medium;
}

.cart-total-wrapper {
  background-color: #cc7511;
  border-radius: 35px;
  margin-top: 10px;
}

